<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>У доступі відмовлено</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
</head>

<body style="background: #ededf6">

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Доступ закрито!</div>
<h3 style="color:red;">Вибачте, ви не можете переглянути цю сторінку!</h3>

<th:block th:include="/_footer"></th:block>

</body>
</html>