<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <a th:href="@{/}">Меню</a>
    |
    <a th:href="@{/productList}">
        Каталог продуктів
    </a>
    |
    <a th:href="@{/shoppingCart}">
        Корзина
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a th:href="@{/admin/orderList}">
            Список замовлень
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/product}">
            Створити продукт
        </a>
        |
    </th:block>
</div>