<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <meta charset="UTF-8">
    <a th:href="@{/}">Меню</a>
    |
    <a th:href="@{/productList}">
        Каталог продуктів
    </a>
    |
    <a th:href="@{/shoppingCart}">
        Моя корзина
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
        <a th:href="@{/admin/orderList}">
            Список покупок
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Створити продукт
        </a>
        |
    </th:block>
</div>