<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Інтернет магазин спортивного одягу</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">

</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Корзина покупок</div>
<div class="demo-container">
    <h3>Домашня сторінка</h3>
    <ul>
        <a th:href="@{/productList}"><li th:href="@{/productList}">Покупки онлайн </li></a>

    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>