<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <th:block th:include="/_header"></th:block>
</head>
<body class="text-center" style="background: #bcbebf">
<!--<th:block th:include="/_menu"></th:block>-->

<div class="page-title">Авторизуватись</div>

<br>
<br>

<h3>Введіть ім'я користувача і пароль</h3>
<th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
    <div th:if= "${#request.getParameter('error') == 'true'}"
         style="color: red; margin: 10px 0px;">
        Авторизація невдала!!!<br /> Причина :
        <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').massege}"></span>
    </div>
</th:block>

<main class="form-signin">
    <form method="POST"
          th:action="@{/j_spring_security_check}">
        <img srcset="img" class="mb-4"  alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Авторизуватись</h1>

        <div class="form-floating">
            <input name="userName" />
        </div>
        <div class="form-floating">
            <input type="password" name="password" />
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запамятати мене
            </label>
        </div>
        <button class="w-25 btn btn-lg btn-primary" type="submit" value="Авторизація">Авторизація</button>

    </form>
</main>
    <span class="error-message" th:utext="${error}"></span>


<th:block th:include="/_footer"></th:block>


</body>
</html>