<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Підтвердження кошика</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">

</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Підтвердження</div>
<div class="customer-info-container">
    <h3>Інформація замовника:</h3>
    <ul>
        <li>Ім'я: <span th:utext="${myCart.customerInfo.name}"></span></li>
        <li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
        <li>Телефон: <span th:utext="${myCart.customerInfo.phone}"></span></li>
        <li>Адреса: <span th:utext="${myCart.customerInfo.address}"></span></li>
    </ul>
    <h3>Підсумок кошика:</h3>
    <ul>
        <li>Кількість: <span th:utext="${myCart.quantityTotal}"></span>$</li>
        <li>Разом:
            <span class="total"
                  th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">
               </span>
        </li>
    </ul>
</div>
<form method="POST" th:action="@{/shoppingCartConfirmation}">
    <!-- Редагувати корзину -->
    <a class="navi-item" th:href="@{/shoppingCart}">
        Редагувати кошик
    </a>
    <!-- Редагувати інформацію про замовника -->
    <a class="navi-item" th:href="@{/shoppingCartCustomer}">
        Редагувати інформацію про замовника
    </a>
    <!-- Зберегти відправити -->
    <input type="submit" value="Відправити" class="button-send-sc" />
</form>
<div class="container">
    <div class="product-preview-container" th:each="cartLineInfo : ${myCart.cartLines}">
        <ul>
            <li>
                <img class="product-image"
                     src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
            </li>
            <li>
                Код товару: <span th:utext="${cartLineInfo.productInfo.code}"></span>
                <input
                        type="hidden" name="code" th:value="${cartLineInfo.productInfo.code}" />
            </li>
            <li>Назва: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
            <li>Ціна:
                <span class="price"
                      th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                  </span>
            </li>
            <li>Кількість: <span th:utext="${cartLineInfo.quantity}"></span></li>
            <li>Сума:
                <span class="subtotal"
                      th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                  </span>
            </li>
        </ul>
    </div>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>